body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #282c34;
    color: white;
}

nav ul {
    display: flex;
    gap: 15px;
    list-style: none;
}

nav ul li {
    cursor: pointer;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover:not(.active-tab) {
    text-decoration: underline dotted  rgb(254, 210, 155) 2px;
    text-underline-offset: 4px;
}

.cart-link-li-item {
    position: relative;
}

.items-count-display {
    position: absolute;
    top: -22px;
    right: -11px;
    font-size: small;
    border-radius: 10px;
    padding: 0px 2px;
    background-color: green;
}

.active-tab {
  font-weight: bold;
  border-bottom: 2px solid rgb(254, 210, 155);
}