body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #282c34;
    color: white;
}

nav ul {
    display: flex;
    gap: 15px;
    list-style: none;
}

nav ul li {
    cursor: pointer;
}

nav ul li:hover {
    text-decoration: underline;
}

nav ul li a {
    color: white;
    text-decoration: none;
}