@import url('https://fonts.googleapis.com/css2?family=Underdog&display=swap');

body {
    background:  #faf5e4;
}

.cards-section {
    font-family: "Underdog", system-ui;
    padding-top: 20px;
    /* overflow-y: auto; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 50px;
    height: 70vh;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 8px 4px;
    /* background: #f8b400; */
    background: rgb(131, 212, 131);
}

.product-card:hover {
    transform: translateY(-4px); /* Moves the card slightly upward */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Adds a shadow for the floating effect */
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth transition */
    cursor: pointer; /* Changes cursor to pointer */
}

.card-image {
   width: 100%;
  height: 200px;
  object-fit: contain;
  background-color: #000; /* or match your card's background */
  border-radius: 8px;
}

.quantity-selection {
    display: flex;
    justify-content: space-around;
    width: 90px;
    align-items: center;
}

.quantity {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.cost {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.qty-btn {

    /* background-color: #f8b400; */
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
    font-size: 1rem;
    /* color: #fff; */
}

.qty-btn:first-of-type {
    padding: 4px 10px;
}

.add-cart-btn {
    background-color: #f8b400;  
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
    margin-top: 10px;
    width: 150px;
}